@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(#f99e4c, #F36f38);
  background-repeat: no-repeat;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

section {
  &#Current {
    width: 100%;
    height: 65%;
    min-height: 65%;
    padding: 8% 0%;
    h1 {
      font-size: 4em;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    i {
      font-size: 14em;
    }
  }

  &#Forecast {
    width: 100%;
    height: 35%;
    min-height: 65%;
    background-color: rgba(0, 0, 0, 0.4);

    .forecast {
      padding: 15px;
      color: $white;
    }
  }
}